*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-variation-settings:
    "wdth" 100;
}

.navbar, .banar{
  max-width: 1170px;
  margin: 0 auto;
}

main{
  max-width: 1170px;
  margin: 0 auto;
}
/*Comon Color Class start*/
.dark1{
  color: #131313;
}
.dark2{
  color: #424242;
}
.dark3{
  color: #727272;
}
.dark4{
  color: #A1A1A1;
}
.dark5{
  color: #D0D0D0;
}
.dark6{
  color: #E7E7E7;
}
.dark7{
  color: #F3F3F3;
}
.btn-color{
  background-color: #ff900e;
}
.primary-color{
  color: #ff900e;
}
.header-color{
  background-color: rgba(255, 144, 14, 0.2);
}
.font-width{
  font-weight: bold;
}
.medium-font{
  font-weight: 500;
}
main > section{
  margin-top: 130px;
}
/*Comon Color Class end*/
a, li{
  text-decoration: none;
  list-style: none;
  margin-right: 30px; 
}

main, footer{
  max-width: 1170px;
  margin: 0 auto;
}

.left-logo{
  font-size: 2.8rem;
  font-weight: bold;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-nav{
  display: flex;
  font-size: 18px;
}

.banar-box1{
  max-width: 850px;
  margin: 100px auto;
  text-align: center;

}
.banar-title{
  font-size: 4rem;
}
.primary-btn{
  margin-top: 30px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #ffff;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
}
.banar-img{
  padding-bottom: 30px;
  border-radius: 8px;
}
.banar-img img{
  width: 100%;
}

/* Main Tag > Section Number One 1 */
.text-section h3{
  font-size: 3rem;
  font-weight: bold;
}

/* Section Number Tow 3*/
.section-2{
  display: flex;
  height: 1050px;
  margin-top: 120px;
}
.section-1{
  display: flex;
  align-items: center;
  gap: 100px;
}
.image-section-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.text-section{
  max-width: 520px;
}


/* Responsive Header*/

@media screen and (max-width:576px) {
  .navbar,
  .right-nav, 
  .section-1{
    flex-direction: column;
  }
  .image-section-1{
    grid-template-columns: repeat(1,1fr);
  }
  .text-section{
    margin-left: 100px;
  }
}
/*Medum device responsive*/
@media screen and (min-width:576px) and (max-width:992px) {
  .section-1{
    flex-direction: column;
  }
}
